.accordion2 {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  background: transparent;
  text-align: center;
  &__button {
    font-size: 1.1rem;
    letter-spacing: 2px;
    width: 100%;
    padding: 1rem 1.5rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    border: 0 none;
    border-bottom: 1px solid #555;
    margin: 0;
    &:hover, &:focus {
      background: #000;
    }
  }
  &__panel {
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
    color: #666;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 500;
    max-height: 0;
    transition: padding 0.5s, max-height 0.5s;
  }


}

