.video {
  margin: auto;
  width: 100%;
  max-width: 1100px;
  padding-top: 30px;
  margin-bottom: 3%;

  &__wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
		max-width:300px;
		width: 100%;
    padding-top: 5px;
  }
}

@media (max-width: 784px) {
  .video {
   width: 100%;
    &__wrapp {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 4px 1px;
    }
   &__item {
     width: 100%;
   }
  }
}